{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block content %}

<section class="hero">

<div class="row g-0">

<div class="col-md-6 hero-homme">

<div class="texte-hero-gauche">

<h1>BARBERSHOP</h1>

<p>Spécial-Homme</p>

</div>

</div>

<div class="col-md-6 hero-femme">

<div class="texte-hero-droite">

<h2>Beauty Salon</h2>

<p>Spécial-Femme</p>

</div>

</div>

</div>

<div class="text-center bouton-rdv">

<a href="{{ path('app_login') }}" class="btn bouton-rendez-vous">
PRENDRE RENDEZ-VOUS
</a>

</div>

</section>


<section id="prestations" class="section-prestations mt-5">

<h2 class="text-center mb-4 section-title">Prestations</h2>

<div class="row">

<div class="col-md-3">

<div class="carte-prestation prestation1">
<div class="overlay-prestation">Barbe</div>
</div>

</div>

<div class="col-md-3">

<div class="carte-prestation prestation2">
<div class="overlay-prestation">Dégradé Américain</div>
</div>

</div>

<div class="col-md-3">

<div class="carte-prestation prestation3">
<div class="overlay-prestation">Coloration & Mèches</div>
</div>

</div>

<div class="col-md-3">

<div class="carte-prestation prestation4">
<div class="overlay-prestation">Extensions</div>
</div>

</div>

</div>

</section>


<section id="coiffeurs" class="section-coiffeurs mt-5">

<div class="row">

<div class="col-md-4">

<div class="salon-image">

<div class="salon-texte">

<h2>NOS COIFFEURS</h2>

<p>Nos Experts à Votre Service</p>

</div>

</div>

</div>

<div class="col-md-8">

<div class="row">

<div class="col-md-4">

<div class="carte-coiffeur">

<div class="image-coiffeur coiffeur1">
<div class="nom-coiffeur">CHRIS</div>
</div>

<button class="btn bouton-profil">Voir Profil</button>

</div>

</div>

<div class="col-md-4">

<div class="carte-coiffeur">

<div class="image-coiffeur coiffeur2">
<div class="nom-coiffeur">LAURA</div>
</div>

<button class="btn bouton-profil">Voir Profil</button>

</div>

</div>

<div class="col-md-4">

<div class="carte-coiffeur">

<div class="image-coiffeur coiffeur3">
<div class="nom-coiffeur">MIKE</div>
</div>

<button class="btn bouton-profil">Voir Profil</button>

</div>

</div>

</div>

</div>

</div>

</section>

{% endblock %}

